<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset "UTF-8">
    <meta name="viewport" contents="width=device-width ,initial-scale=1.0">
    <title> ToDo Application </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <style>
        body {
            background: linear-gradient( #5b9aa0, #96ceb4)
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
</head>

<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">
            ToDo Application
        </h1>

        <form class="ui form" action="/add" method="post">
            <div class="field">
                <label for="title"> <h3> ToDo Title </h3></label>
                <style>
                    /* target all label elements */

                    label {
                        font-size: 1.2rem;
                    }
                    /* target the "Not Complete" and "Complete" labels specifically */
                    .ui.yellow.label,
                    .ui.green.label {
                        font-size: 1rem;
                    }
                </style>

                <input type="text" name="title" placeholder="Enter ToDo">
                <br>
                <button class=" ui blue button" type="submit"> Add </button>
            </div>
        </form>

        {% for todo in todo_list %}
        <div class="ui segment">
            <p class="ui big header"> {{todo.id}} | {{todo.title}} </p>

            {% if todo.complete==False %}
            <span class="ui yellow label"> Not Complete </span> {% else %}
            <span class="ui green label"> Complete </span> {% endif %}

            <a class="ui blue button" href="/update/{{todo.id}}"> Update </a>
            <a class="ui red button" href="/delete/{{todo.id}}"> Delete </a>
        </div>
        {% endfor %}
    </div>

</body>

</html>